* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  overflow: hidden;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50px;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 70px;
  list-style-type: none;
}
.menu .btn {
  display: none;
}
.menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.menu_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s all;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
}
.menu_link .logIn {
  width: 30px;
  height: 25px;
  padding-right: 10px;
}
.menu_link:hover {
  background: grey;
  color: #ffffff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(45% 50%, #505272, #020923);
  font-size: 14px;
}
main:before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 565px;
  height: 565px;
  border: 1px solid white;
  border-radius: 100%;
}
main:after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 890px;
  height: 890px;
  border: 1px solid white;
  border-radius: 100%;
}
main .team_left {
  display: flex;
  align-items: center;
  padding-right: 20px;
  justify-content: end;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-100%);
  width: calc(49% - 10em);
  height: 8.66em;
  background: white;
  border-bottom-right-radius: 4.5%;
}
main .team_left span {
  font-size: 28px;
  font-weight: bold;
}
main .team_left:after {
  position: absolute;
  left: calc(99% + 3px);
  border-top: 8.66em solid white;
  border-right: 5em solid transparent;
  border-radius: 0 20% 0 10%;
  content: "";
}
main .team_right {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  width: calc(49% - 10em);
  height: 8.66em;
  background: white;
  border-top-left-radius: 4.5%;
  z-index: 1;
}
main .team_right span {
  font-size: 28px;
  font-weight: bold;
}
main .team_right:after {
  position: absolute;
  right: calc(99% + 3px);
  border-bottom: 8.66em solid white;
  border-left: 5em solid transparent;
  border-radius: 0 10% 0 20%;
  content: "";
}

.events {
  display: flex;
  justify-content: space-between;
  height: 550px;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.events li {
  position: relative;
  list-style-type: none;
  transition: 0.5s all;
  cursor: pointer;
}
.events li .hexagon {
  position: relative;
  font-size: inherit;
  height: 17.32em;
  width: 10em;
  border-radius: 1em/0.5em;
  background: white;
  transition: opacity 0.1s;
  margin: 0 5em;
}
.events li .hexagon:before, .events li .hexagon:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
}
.events li .hexagon:before {
  transform: rotate(60deg);
}
.events li .hexagon:after {
  transform: rotate(-60deg);
}
.events li .hexagon_text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1;
}
.events li .hexagon_text_place, .events li .hexagon_text_time, .events li .hexagon_text_link {
  display: none;
}
.events_item_0, .events_item_6 {
  font-size: 0px;
  visibility: hidden;
}
.events_item_1, .events_item_5 {
  font-size: 6px;
}
.events_item_1 .hexagon_text, .events_item_5 .hexagon_text {
  font-size: 17px;
}
.events_item_1 .hexagon_text_day, .events_item_5 .hexagon_text_day {
  padding: 0 10px;
  line-height: 20px;
}
.events_item_2, .events_item_4 {
  font-size: 9px;
  align-self: center;
}
.events_item_2 .hexagon_text, .events_item_4 .hexagon_text {
  font-size: 20px;
}
.events_item_2 .hexagon_text_day, .events_item_4 .hexagon_text_day {
  padding: 0 10px;
  line-height: 20px;
}
.events_item_0 {
  order: 0;
  align-self: end;
}
.events_item_1 {
  order: 1;
  align-self: end;
}
.events_item_2 {
  order: 2;
  transform: translateY(137.5px);
}
.events_item_3 {
  font-size: 14px;
  order: 3;
  align-self: center;
}
.events_item_3 div.hexagon_text {
  justify-content: space-around;
}
.events_item_3 div.hexagon_text_place, .events_item_3 div.hexagon_text_time,
.events_item_3 div.hexagon_text a {
  display: initial;
  font-size: 20px;
}
.events_item_3 div.hexagon_text_day {
  font-weight: bold;
  font-size: 28px;
}
.events_item_3 div.hexagon_text a {
  padding: 10px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s all;
}
.events_item_3 div.hexagon_text a:hover {
  background-color: grey;
}
.events_item_4 {
  order: 4;
  transform: translateY(-137.5px);
}
.events_item_5 {
  order: 5;
  align-self: start;
}
.events_item_6 {
  order: 6;
  align-self: start;
}

@media (max-width: 991px) {
  .menu {
    padding: 10px 0;
  }
  .menu_link {
    font-size: 10px;
  }

  main {
    font-size: 12px;
  }
  main:before {
    width: 487px;
    height: 487px;
  }
  main:after {
    width: 770px;
    height: 770px;
  }
  main .team_left:after {
    left: calc(99% + 1px);
  }
  main .team_right:after {
    right: calc(99% + 1px);
  }

  .events_item_1, .events_item_5 {
    font-size: 4px;
  }
  .events_item_1 .hexagon_text, .events_item_5 .hexagon_text {
    font-size: 12px;
  }
  .events_item_1 .hexagon_text_day, .events_item_5 .hexagon_text_day {
    line-height: 15px;
  }
  .events_item_2, .events_item_4 {
    font-size: 7px;
  }
  .events_item_2 .hexagon_text, .events_item_4 .hexagon_text {
    font-size: 17px;
  }
  .events_item_2 .hexagon_text_day, .events_item_4 .hexagon_text_day {
    line-height: 15px;
  }
  .events_item_3 {
    font-size: 12px;
  }
  .events_item_3 div.hexagon_text {
    justify-content: space-around;
  }
  .events_item_3 div.hexagon_text_place, .events_item_3 div.hexagon_text_time,
.events_item_3 div.hexagon_text a {
    font-size: 15px;
  }
  .events_item_3 div.hexagon_text_day {
    font-size: 28px;
  }
  .events_item_3 div.hexagon_text a {
    font-size: 15px;
    line-height: 15px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    transition: 0.5s all;
    background: url("../icons/menu.png") center center/cover no-repeat;
  }
  .hamburger_active {
    background: url("../icons/cansel.png") center center/cover no-repeat;
  }

  main {
    font-size: 12px;
  }
  main:before {
    width: 500px;
    height: 500px;
  }
  main:after {
    width: 785px;
    height: 785px;
  }
  main .team_left {
    padding: 0;
  }
  main .team_left span {
    font-size: 23px;
  }
  main .team_left:after {
    left: calc(99% + 1px);
  }
  main .team_right {
    padding: 0;
  }
  main .team_right span {
    font-size: 23px;
  }
  main .team_right:after {
    right: calc(99% + 1px);
  }

  .events_item_1, .events_item_5 {
    font-size: 3px;
  }
  .events_item_1 .hexagon_text, .events_item_5 .hexagon_text {
    font-size: 9px;
  }
  .events_item_1 .hexagon_text_day, .events_item_5 .hexagon_text_day {
    line-height: 9px;
  }
  .events_item_2, .events_item_4 {
    font-size: 6px;
  }
  .events_item_2 .hexagon_text, .events_item_4 .hexagon_text {
    font-size: 17px;
  }
  .events_item_2 .hexagon_text_day, .events_item_4 .hexagon_text_day {
    line-height: 15px;
  }
  .events_item_3 {
    font-size: 10px;
  }
  .events_item_3 div.hexagon_text_place, .events_item_3 div.hexagon_text_time,
.events_item_3 div.hexagon_text a {
    font-size: 15px;
  }
  .events_item_3 div.hexagon_text_day {
    font-size: 23px;
  }
  .events_item_3 div.hexagon_text a {
    font-size: 12px;
    line-height: 12px;
  }
}
@media (max-width: 575px) {
  main {
    font-size: 7.5px;
  }
  main:before {
    width: 250px;
    height: 250px;
  }
  main:after {
    width: 400px;
    height: 400px;
  }
  main .team_left {
    text-align: center;
    padding: 0;
  }
  main .team_left span {
    font-size: 15px;
  }
  main .team_left:after {
    left: calc(99% - 1px);
  }
  main .team_right {
    text-align: center;
    padding: 0;
  }
  main .team_right span {
    font-size: 15px;
    z-index: 1;
  }
  main .team_right:after {
    right: calc(99% - 1px);
  }

  .events {
    height: 350px;
  }
  .events li .hexagon {
    margin: 0 1.6666666667em;
  }
  .events_item_2, .events_item_4 {
    font-size: 4.5px;
  }
  .events_item_2 .hexagon_text, .events_item_4 .hexagon_text {
    font-size: 13px;
  }
  .events_item_2 .hexagon_text_day, .events_item_4 .hexagon_text_day {
    line-height: 13px;
  }
  .events_item_3 {
    font-size: 7.5px;
  }
  .events_item_3 div.hexagon_text_place, .events_item_3 div.hexagon_text_time,
.events_item_3 div.hexagon_text a {
    font-size: 12px;
  }
  .events_item_3 div.hexagon_text_day {
    font-size: 18px;
  }
  .events_item_3 div.hexagon_text a {
    padding: 5px;
    font-size: 10px;
    line-height: 10px;
  }
  .events_item_2 {
    transform: translateY(87.5px);
  }
  .events_item_4 {
    order: 4;
    transform: translateY(-87.5px);
  }
}/*# sourceMappingURL=style.css.map */