$hex-side: 10em;
$events-height: 550px;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 70px;
  list-style-type: none;
  &_item {
    display: flex;
    align-items: center;
  }
  &_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s all;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    .logIn {
      width: 30px;
      height: 25px;
      padding-right: 10px;
    }
    .menu {
      width: 48px;
      height: 48px;
      padding: 0;
    }
    &:hover {
      background: grey;
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
	overflow: hidden;
  height: 800px;
  background: radial-gradient(45% 50%, #505272, #020923);
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 565px;
    height: 565px;
    border: 1px solid white;
    border-radius: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 890px;
    height: 890px;
    border: 1px solid white;
    border-radius: 100%;
  }
}

.events {
  display: flex;
  justify-content: space-between;
  // width: 880px;
  height: $events-height;
  padding: 0;
  margin: 0;
  z-index: 1;
  li {
    position: relative;
    text-decoration: none;
    .hexagon {
      position: relative;
      font-size: inherit;
      height: calc($hex-side * 1.732);
      width: $hex-side;
      border-radius: 1em/0.5em;
      background: white;
      transition: opacity 0.5s;
      margin: 0 calc($hex-side / 2);
      &:before,
      &:after {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background: inherit;
        content: "";
      }
      &:before {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
      }
      &:after {
        -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
      }
      &_text {
        position: absolute;
        text-decoration: none;
        display: inline-block;
        color: black;
        font-size: 20px;
        z-index: 1;
      }
    }
  }
  &_item_1,
  &_item_5 {
    font-size: 6px;
  }
  &_item_2,
  &_item_4 {
    font-size: 9px;
    align-self: center;
  }
  &_item_1 {
    order: 1;
    align-self: end;
  }
  &_item_2 {
    order: 2;
    transform: translateY($events-height / 4 );
  }
  &_item_3 {
    font-size: 14px;
    order: 3;
    align-self: center;
  }
  &_item_4 {
    order: 4;
    transform: translateY(-$events-height / 4);
  }
  &_item_5 {
    order: 5;
    align-self: start;
  }
}
